<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Project2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <servlet>
    <servlet-name>registration</servlet-name>
    <servlet-class>p1.Stureg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/Stureg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>company</servlet-name>
    <servlet-class>p1.CompanyReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>company</servlet-name>
    <url-pattern>/CompanyReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reg1</servlet-name>
    <servlet-class>p1.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg1</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stuproof</servlet-name>
    <servlet-class>p1.StuProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stuproof</servlet-name>
    <url-pattern>/StuProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sdetail</servlet-name>
    <servlet-class>p1.retrival</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sdetail</servlet-name>
    <url-pattern>/retrival</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>compdetail</servlet-name>
    <servlet-class>p1.CompanyRetrival</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>compdetail</servlet-name>
    <url-pattern>/CompanyRetrival</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SReg</servlet-name>
    <servlet-class>p1.SRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SReg</servlet-name>
    <url-pattern>/SRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SSC_Above60</servlet-name>
    <servlet-class>p1.SSC_Abv60</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSC_Above60</servlet-name>
    <url-pattern>/SSC_Abv60</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SSC_Above55</servlet-name>
    <servlet-class>p1.SSC_Abv55</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSC_Above55</servlet-name>
    <url-pattern>/SSC_Abv55</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SSC_Above50</servlet-name>
    <servlet-class>p1.SSC_Abv50</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSC_Above50</servlet-name>
    <url-pattern>/SSC_Abv50</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SSC_Below50</servlet-name>
    <servlet-class>p1.SSC_Blw50</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSC_Below50</servlet-name>
    <url-pattern>/SSC_Blw50</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SHU_Above60</servlet-name>
    <servlet-class>p1.SHU_Abv60</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SHU_Above60</servlet-name>
    <url-pattern>/SHU_Abv60</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>p1.StuLoginDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/StuLoginDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompanyLogin</servlet-name>
    <servlet-class>p1.CompLoginDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyLogin</servlet-name>
    <url-pattern>/CompLoginDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>message1</servlet-name>
    <servlet-class>p1.mess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>message1</servlet-name>
    <url-pattern>/mess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>message2</servlet-name>
    <servlet-class>p1.MessComp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>message2</servlet-name>
    <url-pattern>/MessComp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Placement</servlet-name>
    <servlet-class>p1.PlacementDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Placement</servlet-name>
    <url-pattern>/PlacementDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompMessDisplay</servlet-name>
    <servlet-class>p1.CompMess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompMessDisplay</servlet-name>
    <url-pattern>/CompMess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentMessDisplay</servlet-name>
    <servlet-class>p1.StuMess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMessDisplay</servlet-name>
    <url-pattern>/StuMess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SHUAbove55</servlet-name>
    <servlet-class>p1.SHU_Abv55</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SHUAbove55</servlet-name>
    <url-pattern>/SHU_Abv55</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SHUAbove50</servlet-name>
    <servlet-class>p1.SHU_Abv50</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SHUAbove50</servlet-name>
    <url-pattern>/SHU_Abv50</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SHUBelow50</servlet-name>
    <servlet-class>p1.SHU_Blw50</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SHUBelow50</servlet-name>
    <url-pattern>/SHU_Blw50</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HSCAbove60</servlet-name>
    <servlet-class>p2.HSC_Abv60</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HSCAbove60</servlet-name>
    <url-pattern>/HSC_Abv60</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HSCAbove55</servlet-name>
    <servlet-class>p2.HSC_Abv55</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HSCAbove55</servlet-name>
    <url-pattern>/HSC_Abv55</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HSCAbove50</servlet-name>
    <servlet-class>p2.HSC_Abv50</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HSCAbove50</servlet-name>
    <url-pattern>/HSC_Abv50</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HSCBelow50</servlet-name>
    <servlet-class>p2.HSC_Blw50</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HSCBelow50</servlet-name>
    <url-pattern>/HSC_Blw50</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PGAbove60</servlet-name>
    <servlet-class>p2.PG_Abv60</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PGAbove60</servlet-name>
    <url-pattern>/PG_Abv60</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PGAbove55</servlet-name>
    <servlet-class>p2.PG_Abv55</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PGAbove55</servlet-name>
    <url-pattern>/PG_Abv55</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PGAbove50</servlet-name>
    <servlet-class>p2.PG_Abv50</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PGAbove50</servlet-name>
    <url-pattern>/PG_Abv50</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PGBelow50</servlet-name>
    <servlet-class>p2.PG_Blw50</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PGBelow50</servlet-name>
    <url-pattern>/PG_Blw50</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UGAbove60</servlet-name>
    <servlet-class>p2.UG_Abv60</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UGAbove60</servlet-name>
    <url-pattern>/UG_Abv60</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UGAbove55</servlet-name>
    <servlet-class>p2.UG_Abv55</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UGAbove55</servlet-name>
    <url-pattern>/UG_Abv55</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UGAbove50</servlet-name>
    <servlet-class>p2.UG_Abv50</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UGAbove50</servlet-name>
    <url-pattern>/UG_Abv50</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UGBelow50</servlet-name>
    <servlet-class>p2.UG_Blw50</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UGBelow50</servlet-name>
    <url-pattern>/UG_Blw50</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NoticeC</servlet-name>
    <servlet-class>p1.NtcCmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeC</servlet-name>
    <url-pattern>/NoteComp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NoticeS</servlet-name>
    <servlet-class>p1.NtcStu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeS</servlet-name>
    <url-pattern>/NoteStu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportNoticeStudent</servlet-name>
    <servlet-class>p1.NTCStuReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportNoticeStudent</servlet-name>
    <url-pattern>/NOtStuReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportNoticeCompany</servlet-name>
    <servlet-class>p1.NTCCompReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportNoticeCompany</servlet-name>
    <url-pattern>/NOtCompReport</url-pattern>
  </servlet-mapping>
  
</web-app>